.header{
    // margin-bottom: 40px;

    .displayText{
        position: absolute;
        top: 63px;
        background-color: rgba(255, 228, 196, 0.425);
        width: 100%;
        left: 0;
        height: 100px;
        p{
            color: black;
        }
    }
    .Tags{
        display: flex;
        flex-direction: row;
        position:relative;
        top: 153px;
        .tag{
            background-color: rgba(255, 163, 50, 0.425);
            padding: 9px;
            border-radius: 5px;
            margin-right: 10px;
            margin-top: 10px;
            padding-bottom: 0px;
            margin-bottom: 53px;
            font-size: 18px;
            color: black;
            cursor: pointer;
            &:hover{
                background-color: rgba(255, 228, 196, 0.8);
            }
        }
    }
    .body{
        position: absolute;
        top: 230px;
        // background-color: cadetblue;
        margin-right: 10px;

        .card{
            height: 300px;
            margin-right: 12px;
            background-color: rgba(255, 228, 196, 0.425);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            top: 10px;
            left: 6px;
            margin-top: 23px;
            .card-title{
                font-size: 30px;
                color: rgb(0, 0, 0);
                margin-left: 5px;
            }
            p{
                font-size: 20px;
                color: rgb(0, 0, 0);
                // text-align: center;
                margin-left: 7px;
            }
        }

        }
}