.topbar{
    background-color: #669BBC;
    top: 0;
    position: fixed;
    width: 100%;
    left: 0;
    padding-bottom: 40px;
    p{
        color: rgb(0, 0, 0);
        text-align: center;
        font-size: 20px;
        // display: flex;
        // flex-direction: column;
        }
}